In [1]:
from scipy.io import arff
import pandas as pd
data = arff.loadarff('4year.arff')
df = pd.DataFrame(data[0])
df['bankruptcy'] = (df['class']==b'1')
df.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class,bankruptcy
0,0.159290,0.46240,0.07773,1.1683,-44.853,0.467020,0.189480,0.82895,1.1223,0.38330,...,0.41557,0.89101,0.001422,7.7928,4.9914,119.810,3.0465,3.0560,b'0',False
1,-0.127430,0.46243,0.26917,1.7517,7.597,0.000925,-0.127430,1.16250,1.2944,0.53757,...,-0.23704,1.06250,0.150410,5.4327,3.4629,100.970,3.6150,3.4725,b'0',False
2,0.070488,0.23570,0.52781,3.2393,125.680,0.163670,0.086895,2.87180,1.0574,0.67689,...,0.10413,0.94571,0.000000,7.1070,3.3808,76.076,4.7978,4.7818,b'0',False
3,0.136760,0.40538,0.31543,1.8705,19.115,0.504970,0.136760,1.45390,1.1144,0.58938,...,0.23203,0.89737,0.073024,6.1384,4.2241,88.299,4.1337,4.6484,b'0',False
4,-0.110080,0.69793,0.18878,1.2713,-15.344,0.000000,-0.110080,0.43282,1.7350,0.30207,...,-0.36440,0.57153,0.000000,18.8010,2.7925,146.390,2.4934,15.0360,b'0',False

In [2]:
newdf=pd.DataFrame()
newdf['X1']=df['Attr1']
newdf['X2']=df['Attr2']
newdf['X7']=df['Attr7']
newdf['X10']=df['Attr10']
newdf['bankruptcy']=df['bankruptcy']
newdf.head()

         X1       X2        X7      X10 bankruptcy
0  0.159290  0.46240  0.189480  0.38330      False
1 -0.127430  0.46243 -0.127430  0.53757      False
2  0.070488  0.23570  0.086895  0.67689      False
3  0.136760  0.40538  0.136760  0.58938      False
4 -0.110080  0.69793 -0.110080  0.30207      False

## Imputing missing values

In [3]:
from sklearn.preprocessing import Imputer

imr = Imputer(missing_values='NaN', strategy='mean', axis=0)
imr = imr.fit(newdf.values)
imputed_data = imr.transform(newdf.values)

## Find the mean and std of the 4 features among all, bankrupt and still-operating companies

In [4]:
Group1=newdf.copy()
Group2=newdf[newdf['bankruptcy']==True].copy()
Group3=newdf[newdf['bankruptcy']==False].copy()
print("The mean of 4 features of all companies is ")
print(Group1.ix[:,:-1].mean())
print("The std of 4 features of all companies is ")
print(Group1.ix[:,:-1].std())

print("The mean of 4 features of bankrupt companies is ")
print(Group2.ix[:,:-1].mean())
print("The std of 4 features of bankrupt companies is ")
print(Group2.ix[:,:-1].std())

print("The mean of 4 features of still-operating companies is ")
print(Group3.ix[:,:-1].mean())
print("The std of 4 features of still-operating companies is ")
print(Group3.ix[:,:-1].std())

The mean of 4 features of all companies is
X1     0.043019
X2     0.596404
X7     0.059446
X10    0.389040
dtype: float64
The std of 4 features of all companies is
X1     0.359321
X2     4.587122
X7     0.533344
X10    4.590299
dtype: float64
The mean of 4 features of bankrupt companies is
X1    -0.068873
X2     0.878355
X7    -0.061538
X10    0.103367
dtype: float64
The std of 4 features of bankrupt companies is
X1     0.568076
X2     1.945596
X7     0.568432
X10    1.946747
dtype: float64
The mean of 4 features of still-operating companies is
X1     0.049231
X2     0.580750
X7     0.066163
X10    0.404901
dtype: float64
The std of 4 features of still-operating companies is
X1     0.343020
X2     4.689947
X7     0.530553
X10    4.693187
dtype: float64

## How many companies satisfy the condition, X1 < mean(X1) - stdev(X1) AND X10 < mean(X10) - std(X10)?

In [5]:
num=newdf[(newdf['X1']<(newdf['X1'].mean()-newdf['X1'].std()))&(newdf['X10']<(newdf['X10'].mean()-newdf['X10'].std()))].shape[0]
print("%d companies satisfy the condition"%num)

15 companies satisfy the condition

## What is the ratio of the bankrupted companies among the sub-groups above?

In [6]:
rate1=Group1[Group1['bankruptcy']==True].shape[0]/Group1.shape[0]
print('%.1f%% of all companies are bankrupted companies' % (rate1 * 100))

rate2=Group2[Group2['bankruptcy']==True].shape[0]/Group2.shape[0]
print('%.1f%% of bankrupted companies are bankrupted companies' % (rate2 * 100))

rate3=Group3[Group3['bankruptcy']==True].shape[0]/Group3.shape[0]
print('%.1f%% of still-operating companies are bankrupted companies' % (rate3 * 100))

5.3% of all companies are bankrupted companies
100.0% of bankrupted companies are bankrupted companies
0.0% of still-operating companies are bankrupted companies